
.index {
background-image: url('src/cover.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;

    
  }
  

.ind {
background-image: url('src/Album\ 1\ cover.jpg');
  background-repeat: no-repeat;
background-size: 1700px;
  background-color: black;
   font-family: 'Quicksand', sans-serif;
}

.indy {
background-image: url('src/Album\ 2\ cover.jpg');
  background-repeat: no-repeat;
background-size: cover;
  background-color: black;
   font-family: 'Quicksand', sans-serif;
   align-content: center;
}

.text-white {

text-align: center;
}
.srvs {
  width: 200px, 200px;
  justify-content: end;
}

.indd {
background-image: url('src/Apollo.png');
  background-repeat: no-repeat;
background-size: auto;
  background-color: black;
   font-family: 'Quicksand', sans-serif;
}

#story {
  text-shadow: #000000;
  color: rgb(255, 255, 255);
font-weight: light;
   font-family: 'Quicksand', sans-serif;

}

#cmi {
  text-align: center;
   font-family: 'Quicksand', sans-serif;
color: rgb(217, 217, 217);
}

.BLM {
 size: 80px;
}

.services {
  background-color: #000000;

  
}

.album {
background-image: url('src/cover.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  

}





#slides {
width: 20%;
height: 20%;

}

.carousel-control-next {
border: -200px;
}



.info {
     text-align: end;
   position: relative;
}


.links {
     text-align: end;
   position: relative;
 
}

#linkOne {
  color: #f5f2fe;
opacity: 90%;

}



#linkTwo {
  color: #f5f2fe;
  opacity: 85%;

}

#linkThree {
  color: #f5f2fe;
opacity: 80%;
padding-right: 30px;
}



h2 {
  font-size: 48px;
text-align: end;
  color: white;
opacity: 80%;
}


.nav-link {
  color: white;
  
}
.nav-link:hover {
  color: white;
  text-decoration: underline;
}

.nav-link:after {
  color: whitesmoke;
}

.btn {
  color: #f5f2fe;
  border-color: antiquewhite;
  
}

#enter {
  padding-right: 30px;
  padding-left: 35px;
  position: relative;
  margin-right: 100px;
}

@media (max-width: 0px) {
  img {
    display: none;
  }
}
.hero p {
  background: var(--secondary-color);

  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}


.card {
    justify-content: space-around;
    background-color: #1f293700;
    transition: ease-in .5s;
    color: white;
 
    border: none;
   padding-top: 300px;
}


.card:hover {
    color: #f9faf8;
}







.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column, .indexside {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column{
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column{
    flex: 100%;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  img, .MP {
    display: none;
    min-width: fit-content;
  }}

 .indexside {
  margin-top: -350px;

 }

 
 .MP {
  margin-left: 30px;
 }

   @media only screen
   and (min-device-width : 320px)
   and (max-device-width : 480px){  .mobileHide { display: none;}}
